# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

goffmpeg/cffmpeg*
goffmpeg/libavcodec*
goffmpeg/libavutil*
goffmpeg/.vscode
goffmpeg/.DS_Store
.vscode/
.DS_Store
